/* 打字机效果 */
#home-info h1 {
    overflow: hidden;
    border-right: 2px solid #fff;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

#home-info h3 {
    overflow: hidden;
    border-right: 2px solid #fff;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end) 0.5s, blink-caret 0.75s step-end infinite 0.5s;
}

#home-info h5 {
    overflow: hidden;
    border-right: 2px solid #fff;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end) 1s, blink-caret 0.75s step-end infinite 1s;
}

/* 打字机动画 */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* 光标闪烁动画 */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #fff;
    }
}